/*
============================================================================
Media queries
============================================================================
*/
	
    @media only screen and (min-width: 961px) {
        .header-wrapper, .header-container { height: 58px; }

		a.menu-link { display: none; }
		.menu-nav nav[role=navigation] { max-height: none; }
		nav { display: inline-block; }
		nav[role=navigation] { position: absolute; bottom: 0px; left: 230px; 
			ul { margin: 0; border: 0;
				li { @include border-top-right-radius(5px !important); @include border-top-left-radius(5px !important); display: inline-block; margin: 0px;
					&:first-child { margin-left: 5px; }
				}
			}
		}
    }

    @media only screen and (max-width: 768px) {
       .main-framework {
            .main-wrapper {
                aside { width: 95% !important; margin: 10px auto; border: none; height: auto; position: relative; display: block; border: 1px solid $sidebar-border;
		            &.sidebar-wrapper {
			            h2 { margin: 5px 11px; border-bottom: none;
							.plus { display: initial; color: $blue; font-size: 30px; vertical-align: middle; margin-right: 5px; }
						}
		            }
	            }

				.booking-control { display: block;  margin-left: 0px; width: 100%;
					.booking-control-wrapper { padding: 0; margin: 0; width: 100%;
						.booking-control-container { position: initial; width: 95% !important; margin: 0px auto;

							.inner-wrapper { position: initial; width: 100%; margin: 0px auto;
								.inner-container { position: initial; }
								.inner-left, .inner-right { width: 100%; float: none; margin: 0px; height: 200px; }
								.inner-left { margin-bottom: 14px; }
								.inner-right {
									.inner-content { }
								}

								.inner-main {
									.inner-container { height: auto; 
									    section { 
										    .table-sales-report {
											    thead { 
                                                    th {
													    &:first-child { padding: 0px; text-align: right; }
													    &:last-child { padding-right: 0px; }
												    }
											    }
											    tr { height: auto; }			
											    tbody {
												    td { 
													    &:first-child { padding: 0px; text-align: right; }
													    &:last-child { padding-right: 0px; }
												    }
											    }
										    }
									    }					
								    }
							    }

                            }
                        }
                    }
                }
            }
        }
    }

	@media only screen and (min-width: 769px) and (max-width: 960px) {
		.main-framework {
            .main-wrapper {
                aside { width: 200px;
					&.sidebar-wrapper {
						h2 {
							.plus { display: none; }
						}
					}
				}

				.booking-control { margin-left: 200px;
					.booking-control-container { width: calc(100% - 240px) !important; }
				}
			}
		}
    }