/*
============================================================================
Name: Test App for Visit.com Adriatic
Description: Main css
Version: 1.2
============================================================================
*/

/* reset style */
@import "compass/reset";

/* import fonts partial sass*/
@import "fonts";

/* image path */
$imgPath: "../images/";

/* color variables used throughout the application */
$white : #fff;
$black : #000;

$body-bg-color: #f3f0ed;

$header-bg-color: #025283;
$header-nav-bg-color: #5b99c8;
$header-nav-bg-active-color: #fff;
$header-nav-color: #fff;
$header-nav-active-color: #000;

$breadcrumb-border-bottom: #aaa;

$main-wrapper-bg-color: #f3f0ed;

$sidebar-border: #d2d2d2;
$sidebar-border-bottom: #4991c7;

$inner-content-border: #d2d2d2;

$booking-green-bg-color: #75b54e;
$booking-yellow-bg-color: #edab0e;
$booking-red-bg-color: #f06432;

$table-thead-bg-color: #4991c7;
$table-tr-even-bg-color: #fff;
$table-tr-odd-bg-color: #f5f0eb;

/* default font-sizes */
$defaultFontSize: 13px;
$h1FontSize: 23px;
$h2FontSize: 18px;
$h3FontSize: 16px;
$h4FontSize: 14px;
$h5FontSize: 12px;
$h6FontSize: 10px;

/* default font-families */
$defaultFontFamily: 'opensans-regular';
$boldFontFamily: 'opensans-bold';

/* import compass rounded corners */
@import "compass/css3/appearance";
@import "compass/css3/border-radius";
$default-border-radius: 0px;

@import "compass/css3";
@import "compass/css3/box-shadow";
@import "compass/css3/text-shadow";
@import "compass/css3/opacity";
@import "compass/css3/transition";
@import "compass/css3/images";
@import "compass/css3/transform";
@import "compass/utilities";


/*
============================================================================
Global (body, heading)
============================================================================
*/
* { outline: none !important; }

body { font: $defaultFontSize $defaultFontFamily !important; font-weight: normal !important; line-height: 1.2 !important; }
body { background: $body-bg-color !important; color: $black !important; }

/* Headings */
h1 { font-size: $h1FontSize; }
h2 { font-size: $h2FontSize; }
h3 { font-size: $h3FontSize; }
h4 { font-size: $h4FontSize; }
h5 { font-size: $h5FontSize; }
h6 { font-size: $h6FontSize; }

h1, h2, h3, h4, h5, h6 {}

img { max-width: 100%; cursor: pointer; }

a {
	&:link, &:visited, &:hover, &:active, &:focus, &:target { text-decoration: none; outline: none; }
}
.clr { clear: both; padding: 10px 0; }


/*
============================================================================
Breadcrumb (navigation)
============================================================================
*/
.breadcrumb { height: 60px; background-color: $white; color: $black; border-bottom: 1px solid $breadcrumb-border-bottom;
	h1 { color: $black; font-size: $h1FontSize; font-weight: bold; line-height: 60px; margin-left: 23px; }
}


/*
============================================================================
Main Section
============================================================================
*/
.main-wrapper { display: flex; background-color: $main-wrapper-bg-color;
	aside { width: 406px; background-color: $white; border-right: 1px solid $sidebar-border; height: calc(100% - 120px); position: absolute;
		&.sidebar {
			h2 { font-size: $h2FontSize; font-weight: bold; color: $black; margin: 30px 23px 0 23px; line-height: 35px; border-bottom: 2px solid $sidebar-border-bottom; }
		}
	}

	.body { flex: 1; margin-left: 406px;
		.wrapper { padding: 10px; margin: 10px;
			.wrapper-content { display: block; position: fixed; width: calc(100% - 445px); height: auto; height: calc(100% - 180px);
				
				.inner { position: relative; height: 50%; min-height: 50%;
					
					/* Booking control */
					.inner-left, .inner-right { display: block; box-sizing: border-box; width: 49%;
						.inner-content { width: inherit; height: calc(100%); position: absolute; background: $white; border: 1px solid $inner-content-border; }
					}
					.inner-left { font-size: 16px; float: left; margin: 0 1% 0px 0; }
					.inner-right { font-size: 16px; float: right; margin: 0 0 0px 1%;
						div {
							.left { float: left; width: 33.33333%; margin: 0px; text-align: center; color: $white; height: 145px;
								&.green { background-color: $booking-green-bg-color; }
								&.yellow { background-color: $booking-yellow-bg-color; }
								&.red { background-color: $booking-red-bg-color; }
								&.green, &.yellow, &.red {
									.title-number { font-size: 44px; font-weight: bold; line-height: 65px; }
									.title-desc { font-size: 12px; font-weight: bold; display: inline-block; margin: 0 14px; }
									.title-note { font-size: 11px; }
								}
						
								.hr { color: rgba(255,255,255, 0.5); border-bottom: 1px solid; border-top: none; width: 80%; }
							}
						}
					}
					
					/* Table Sales Report */
					.inner-main { width: 100%;
						.inner-content { width: inherit; height: calc(100%); position: absolute; background: $white; border: 1px solid $inner-content-border;
							section { margin: 20px;
								h3 { color: $black; font-weight: bold; font-size: 13px; margin: 10px 0px; }
								.table-sales-report { width: 100%; font-size: 12px; 
									thead { background-color: $table-thead-bg-color; color: $white;
										th { text-align: right;
											&:first-child { padding: 0 10px; text-align: left; }
											&:last-child { padding-right: 20px; }
										}
									}
									tr { height: 25px; }			
									tbody {
										tr:nth-child(even) { background-color: $table-tr-even-bg-color; }
										tr:nth-child(odd) { background-color: $table-tr-odd-bg-color; }
										td { text-align: right;
											&:first-child { padding: 0 10px; text-align: left; }
											&:last-child { padding-right: 20px; }
										}
									}
								}
							}					
						}
					}		
				}		
			}
		}
	}
}

/* import header/navigation partial sass */
@import "navigation";

/* import media queries partial sass */
@import "media";

/* import media queries for sales report table partial sass */
@import "table";
