/*
============================================================================
Name: Test App for Visit.com Adriatic
Description: Main css
Version: 1.0
============================================================================
*/
/* reset style */
/* line 17, C:/Users/Cvelinho/AppData/Local/Temp/Mindscape/WebWorkbench/Ruby193/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Users/Cvelinho/AppData/Local/Temp/Mindscape/WebWorkbench/Ruby193/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Users/Cvelinho/AppData/Local/Temp/Mindscape/WebWorkbench/Ruby193/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Users/Cvelinho/AppData/Local/Temp/Mindscape/WebWorkbench/Ruby193/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Users/Cvelinho/AppData/Local/Temp/Mindscape/WebWorkbench/Ruby193/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Users/Cvelinho/AppData/Local/Temp/Mindscape/WebWorkbench/Ruby193/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Users/Cvelinho/AppData/Local/Temp/Mindscape/WebWorkbench/Ruby193/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Users/Cvelinho/AppData/Local/Temp/Mindscape/WebWorkbench/Ruby193/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Users/Cvelinho/AppData/Local/Temp/Mindscape/WebWorkbench/Ruby193/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* import fonts partial sass*/
@font-face {
  font-family: "opensans-regular";
  src: url('/Content/fonts/opensans-regular.eot');
  src: url('/Content/fonts/opensans-regular.eot?#iefix') format('eot'), url('/Content/fonts/opensans-regular.woff') format('woff'), url('/Content/fonts/opensans-regular.ttf') format('truetype');
  font-weight: "opensans-regular.svg#opensans-regular";
  font-style: svg;
}

@font-face {
  font-family: "opensans-bold";
  src: url('/Content/fonts/opensans-bold.eot');
  src: url('/Content/fonts/opensans-bold.eot?#iefix') format('eot'), url('/Content/fonts/opensans-bold.woff') format('woff'), url('/Content/fonts/opensans-bold.ttf') format('truetype');
  font-weight: "opensans-bold.svg#opensans-bold";
  font-style: svg;
}

/* image path */
/* color variables used throughout the application */
/* default font-sizes */
/* default font-families */
/* import compass rounded corners */
/*
============================================================================
Global (body, heading)
============================================================================
*/
/* line 80, ../sass/main.scss */
* {
  outline: none !important;
}

/* line 82, ../sass/main.scss */
body {
  font: 13px "opensans-regular" !important;
  font-weight: normal !important;
  line-height: 1.2 !important;
}

/* line 83, ../sass/main.scss */
body {
  background: #f3f0ed !important;
  color: black !important;
}

/* Headings */
/* line 86, ../sass/main.scss */
h1 {
  font-size: 23px;
}

/* line 87, ../sass/main.scss */
h2 {
  font-size: 18px;
}

/* line 88, ../sass/main.scss */
h3 {
  font-size: 16px;
}

/* line 89, ../sass/main.scss */
h4 {
  font-size: 14px;
}

/* line 90, ../sass/main.scss */
h5 {
  font-size: 12px;
}

/* line 91, ../sass/main.scss */
h6 {
  font-size: 10px;
}

/* line 95, ../sass/main.scss */
img {
  max-width: 100%;
  cursor: pointer;
}

/* line 98, ../sass/main.scss */
a:link, a:visited, a:hover, a:active, a:focus, a:target {
  text-decoration: none;
  outline: none;
}

/* line 100, ../sass/main.scss */
.clr {
  clear: both;
  padding: 10px 0;
}

/*
============================================================================
Breadcrumb (navigation)
============================================================================
*/
/* line 108, ../sass/main.scss */
.breadcrumb {
  height: 60px;
  background-color: white;
  color: black;
  border-bottom: 1px solid #aaaaaa;
}
/* line 109, ../sass/main.scss */
.breadcrumb h1 {
  color: black;
  font-size: 23px;
  font-weight: bold;
  line-height: 60px;
  margin-left: 23px;
}

/*
============================================================================
Main Section
============================================================================
*/
/* line 118, ../sass/main.scss */
.main-wrapper {
  display: flex;
  background-color: #f3f0ed;
}
/* line 119, ../sass/main.scss */
.main-wrapper aside {
  width: 406px;
  background-color: white;
  border-right: 1px solid #d2d2d2;
  height: calc(100% - 120px);
  position: absolute;
}
/* line 121, ../sass/main.scss */
.main-wrapper aside.sidebar h2 {
  font-size: 18px;
  font-weight: bold;
  color: black;
  margin: 30px 23px 0 23px;
  line-height: 35px;
  border-bottom: 2px solid #4991c7;
}
/* line 125, ../sass/main.scss */
.main-wrapper .body {
  flex: 1;
  margin-left: 406px;
}
/* line 126, ../sass/main.scss */
.main-wrapper .body .wrapper {
  padding: 10px;
  margin: 10px;
}
/* line 127, ../sass/main.scss */
.main-wrapper .body .wrapper .wrapper-content {
  display: block;
  position: fixed;
  width: calc(100% - 445px);
  height: auto;
  height: calc(100% - 180px);
}
/* line 129, ../sass/main.scss */
.main-wrapper .body .wrapper .wrapper-content .inner {
  position: relative;
  height: 50%;
  min-height: 50%;
  /* Booking control */
  /* Table Sales Report */
}
/* line 132, ../sass/main.scss */
.main-wrapper .body .wrapper .wrapper-content .inner .inner-left, .main-wrapper .body .wrapper .wrapper-content .inner .inner-right {
  display: block;
  box-sizing: border-box;
  width: 49%;
}
/* line 133, ../sass/main.scss */
.main-wrapper .body .wrapper .wrapper-content .inner .inner-left .inner-content, .main-wrapper .body .wrapper .wrapper-content .inner .inner-right .inner-content {
  width: inherit;
  height: calc(100%);
  position: absolute;
  background: white;
  border: 1px solid #d2d2d2;
}
/* line 135, ../sass/main.scss */
.main-wrapper .body .wrapper .wrapper-content .inner .inner-left {
  font-size: 16px;
  float: left;
  margin: 0 1% 0px 0;
}
/* line 136, ../sass/main.scss */
.main-wrapper .body .wrapper .wrapper-content .inner .inner-right {
  font-size: 16px;
  float: right;
  margin: 0 0 0px 1%;
}
/* line 138, ../sass/main.scss */
.main-wrapper .body .wrapper .wrapper-content .inner .inner-right div .left {
  float: left;
  width: 33.33333%;
  margin: 0px;
  text-align: center;
  color: white;
  height: 145px;
}
/* line 139, ../sass/main.scss */
.main-wrapper .body .wrapper .wrapper-content .inner .inner-right div .left.green {
  background-color: #75b54e;
}
/* line 140, ../sass/main.scss */
.main-wrapper .body .wrapper .wrapper-content .inner .inner-right div .left.yellow {
  background-color: #edab0e;
}
/* line 141, ../sass/main.scss */
.main-wrapper .body .wrapper .wrapper-content .inner .inner-right div .left.red {
  background-color: #f06432;
}
/* line 143, ../sass/main.scss */
.main-wrapper .body .wrapper .wrapper-content .inner .inner-right div .left.green .title-number, .main-wrapper .body .wrapper .wrapper-content .inner .inner-right div .left.yellow .title-number, .main-wrapper .body .wrapper .wrapper-content .inner .inner-right div .left.red .title-number {
  font-size: 44px;
  font-weight: bold;
  line-height: 65px;
}
/* line 144, ../sass/main.scss */
.main-wrapper .body .wrapper .wrapper-content .inner .inner-right div .left.green .title-desc, .main-wrapper .body .wrapper .wrapper-content .inner .inner-right div .left.yellow .title-desc, .main-wrapper .body .wrapper .wrapper-content .inner .inner-right div .left.red .title-desc {
  font-size: 12px;
  font-weight: bold;
  display: inline-block;
  margin: 0 14px;
}
/* line 145, ../sass/main.scss */
.main-wrapper .body .wrapper .wrapper-content .inner .inner-right div .left.green .title-note, .main-wrapper .body .wrapper .wrapper-content .inner .inner-right div .left.yellow .title-note, .main-wrapper .body .wrapper .wrapper-content .inner .inner-right div .left.red .title-note {
  font-size: 11px;
}
/* line 148, ../sass/main.scss */
.main-wrapper .body .wrapper .wrapper-content .inner .inner-right div .left .hr {
  color: rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid;
  border-top: none;
  width: 80%;
}
/* line 154, ../sass/main.scss */
.main-wrapper .body .wrapper .wrapper-content .inner .inner-main {
  width: 100%;
}
/* line 155, ../sass/main.scss */
.main-wrapper .body .wrapper .wrapper-content .inner .inner-main .inner-content {
  width: inherit;
  height: calc(100%);
  position: absolute;
  background: white;
  border: 1px solid #d2d2d2;
}
/* line 156, ../sass/main.scss */
.main-wrapper .body .wrapper .wrapper-content .inner .inner-main .inner-content section {
  margin: 20px;
}
/* line 157, ../sass/main.scss */
.main-wrapper .body .wrapper .wrapper-content .inner .inner-main .inner-content section h3 {
  color: black;
  font-weight: bold;
  font-size: 13px;
  margin: 10px 0px;
}
/* line 158, ../sass/main.scss */
.main-wrapper .body .wrapper .wrapper-content .inner .inner-main .inner-content section .table-sales-report {
  width: 100%;
  font-size: 12px;
}
/* line 159, ../sass/main.scss */
.main-wrapper .body .wrapper .wrapper-content .inner .inner-main .inner-content section .table-sales-report thead {
  background-color: #4991c7;
  color: white;
}
/* line 160, ../sass/main.scss */
.main-wrapper .body .wrapper .wrapper-content .inner .inner-main .inner-content section .table-sales-report thead th {
  text-align: right;
}
/* line 161, ../sass/main.scss */
.main-wrapper .body .wrapper .wrapper-content .inner .inner-main .inner-content section .table-sales-report thead th:first-child {
  padding: 0 10px;
  text-align: left;
}
/* line 162, ../sass/main.scss */
.main-wrapper .body .wrapper .wrapper-content .inner .inner-main .inner-content section .table-sales-report thead th:last-child {
  padding-right: 20px;
}
/* line 165, ../sass/main.scss */
.main-wrapper .body .wrapper .wrapper-content .inner .inner-main .inner-content section .table-sales-report tr {
  height: 25px;
}
/* line 167, ../sass/main.scss */
.main-wrapper .body .wrapper .wrapper-content .inner .inner-main .inner-content section .table-sales-report tbody tr:nth-child(even) {
  background-color: white;
}
/* line 168, ../sass/main.scss */
.main-wrapper .body .wrapper .wrapper-content .inner .inner-main .inner-content section .table-sales-report tbody tr:nth-child(odd) {
  background-color: #f5f0eb;
}
/* line 169, ../sass/main.scss */
.main-wrapper .body .wrapper .wrapper-content .inner .inner-main .inner-content section .table-sales-report tbody td {
  text-align: right;
}
/* line 170, ../sass/main.scss */
.main-wrapper .body .wrapper .wrapper-content .inner .inner-main .inner-content section .table-sales-report tbody td:first-child {
  padding: 0 10px;
  text-align: left;
}
/* line 171, ../sass/main.scss */
.main-wrapper .body .wrapper .wrapper-content .inner .inner-main .inner-content section .table-sales-report tbody td:last-child {
  padding-right: 20px;
}

/* import header/navigation partial sass */
/*
============================================================================
Header, navigation
============================================================================
*/
/* line 7, ../sass/_navigation.scss */
.header {
  background-color: #025283;
  position: relative;
}
/* line 9, ../sass/_navigation.scss */
.header .nav-container figure {
  display: inline-block;
}
/* line 10, ../sass/_navigation.scss */
.header .nav-container figure .logo {
  margin: 6px 0 0 3px;
}

/* line 16, ../sass/_navigation.scss */
a.menu-link {
  float: right;
  display: block;
  padding: 4px 13px;
  font-size: 32px;
  font-weight: bold;
  color: white;
}

/* line 17, ../sass/_navigation.scss */
.js nav[role=navigation] {
  overflow: hidden;
  max-height: 0;
}

/* line 18, ../sass/_navigation.scss */
nav[role=navigation] {
  clear: both;
  -webkit-transition: all 0.3s ease-out;
  -webkit-transition-delay: 0s;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out false;
}
/* line 19, ../sass/_navigation.scss */
nav[role=navigation].active {
  max-height: 250px;
}

/* line 21, ../sass/_navigation.scss */
nav[role=navigation] ul {
  margin: 0;
  padding: 0;
}
/* line 22, ../sass/_navigation.scss */
nav[role=navigation] ul li {
  background-color: #5b99c8;
  margin: 0px;
}
/* line 24, ../sass/_navigation.scss */
nav[role=navigation] ul li.active {
  background-color: white;
}
/* line 25, ../sass/_navigation.scss */
nav[role=navigation] ul li.active a {
  color: black;
}
/* line 27, ../sass/_navigation.scss */
nav[role=navigation] ul li a {
  color: white;
  display: block;
  padding: 14px 26px;
}

/* import media queries partial sass */
/*
============================================================================
Media queries
============================================================================
*/
@media screen and (min-width: 920px) {
  /* line 8, ../sass/_media.scss */
  .header, .nav-container {
    height: 58px;
  }

  /* line 12, ../sass/_media.scss */
  .header .nav-container figure .logo {
    margin: 10px 0 0 12px !important;
  }

  /* line 17, ../sass/_media.scss */
  nav {
    display: inline-block;
  }

  /* line 18, ../sass/_media.scss */
  nav[role=navigation] {
    position: absolute;
    bottom: 0px;
    left: 230px;
  }
  /* line 20, ../sass/_media.scss */
  nav[role=navigation] ul li {
    -moz-border-radius-topright: 5px !important;
    -webkit-border-top-right-radius: 5px !important;
    border-top-right-radius: 5px !important;
    -moz-border-radius-topleft: 5px !important;
    -webkit-border-top-left-radius: 5px !important;
    border-top-left-radius: 5px !important;
  }
  /* line 21, ../sass/_media.scss */
  nav[role=navigation] ul li:first-child {
    margin-left: 5px;
  }
}
@media screen and (min-width: 780px) {
  /* line 32, ../sass/_media.scss */
  a.menu-link {
    display: none;
  }

  /* line 33, ../sass/_media.scss */
  .js nav[role=navigation] {
    max-height: none;
  }

  /* line 35, ../sass/_media.scss */
  nav[role=navigation] ul {
    margin: 0;
    border: 0;
  }
  /* line 36, ../sass/_media.scss */
  nav[role=navigation] ul li {
    -moz-border-radius-topright: 0px;
    -webkit-border-top-right-radius: 0px;
    border-top-right-radius: 0px;
    -moz-border-radius-topleft: 0px;
    -webkit-border-top-left-radius: 0px;
    border-top-left-radius: 0px;
    display: inline-block;
    margin: 0px;
  }
  /* line 37, ../sass/_media.scss */
  nav[role=navigation] ul li:first-child {
    margin-left: 0px;
  }
  /* line 41, ../sass/_media.scss */
  nav[role=navigation] ul li a {
    border: 0;
  }
}
@media (max-width: 480px) {
  /* line 49, ../sass/_media.scss */
  .main-wrapper aside {
    border: 1px solid #d2d2d2;
    position: inherit;
    margin: 10px;
    display: none;
  }
  /* line 51, ../sass/_media.scss */
  .main-wrapper aside.sidebar h2 {
    margin: 1px 23px 0 42px;
    border-bottom: none;
  }
  /* line 58, ../sass/_media.scss */
  .main-wrapper .body {
    flex: 1;
    margin-left: 0px;
  }
  /* line 59, ../sass/_media.scss */
  .main-wrapper .body .wrapper {
    padding: 10px;
    margin: 10px;
  }
  /* line 60, ../sass/_media.scss */
  .main-wrapper .body .wrapper .wrapper-content {
    display: block;
    position: inherit;
    width: auto;
    height: auto;
  }
  /* line 62, ../sass/_media.scss */
  .main-wrapper .body .wrapper .wrapper-content .inner {
    position: relative;
    height: 200px;
    min-height: 50%;
    display: block;
    /* Booking control */
    /* Table Sales Report */
  }
  /* line 65, ../sass/_media.scss */
  .main-wrapper .body .wrapper .wrapper-content .inner .inner-left, .main-wrapper .body .wrapper .wrapper-content .inner .inner-right {
    display: block;
    box-sizing: border-box;
    width: 100%;
  }
  /* line 66, ../sass/_media.scss */
  .main-wrapper .body .wrapper .wrapper-content .inner .inner-left .inner-content, .main-wrapper .body .wrapper .wrapper-content .inner .inner-right .inner-content {
    width: inherit;
    height: auto;
    position: absolute;
    background: white;
    border: 1px solid #d2d2d2;
  }
  /* line 68, ../sass/_media.scss */
  .main-wrapper .body .wrapper .wrapper-content .inner .inner-left {
    font-size: 16px;
    float: left;
    margin: 0 1% 0px 0;
  }
  /* line 69, ../sass/_media.scss */
  .main-wrapper .body .wrapper .wrapper-content .inner .inner-right {
    font-size: 16px;
    float: right;
    margin: 0 0 0px 1%;
  }
  /* line 71, ../sass/_media.scss */
  .main-wrapper .body .wrapper .wrapper-content .inner .inner-right div .left {
    float: left;
    width: 33.33333%;
    margin: 0px;
    text-align: center;
    color: white;
    height: 145px;
  }
  /* line 77, ../sass/_media.scss */
  .main-wrapper .body .wrapper .wrapper-content .inner .inner-main .inner-content {
    height: auto;
  }
  /* line 82, ../sass/_media.scss */
  .main-wrapper .body .wrapper .wrapper-content .inner .inner-main .inner-content section .table-sales-report thead th:first-child {
    padding: 0px;
    text-align: right;
  }
  /* line 83, ../sass/_media.scss */
  .main-wrapper .body .wrapper .wrapper-content .inner .inner-main .inner-content section .table-sales-report thead th:last-child {
    padding-right: 0px;
  }
  /* line 86, ../sass/_media.scss */
  .main-wrapper .body .wrapper .wrapper-content .inner .inner-main .inner-content section .table-sales-report tr {
    height: auto;
  }
  /* line 89, ../sass/_media.scss */
  .main-wrapper .body .wrapper .wrapper-content .inner .inner-main .inner-content section .table-sales-report tbody td:first-child {
    padding: 0px;
    text-align: right;
  }
  /* line 90, ../sass/_media.scss */
  .main-wrapper .body .wrapper .wrapper-content .inner .inner-main .inner-content section .table-sales-report tbody td:last-child {
    padding-right: 0px;
  }
}
/* import media queries for sales report table partial sass */
/*
============================================================================
Table Sales Report
============================================================================
*/
@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
  /* line 8, ../sass/_table.scss */
  table, thead, tbody, th, td, tr {
    display: block;
  }

  /* line 10, ../sass/_table.scss */
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  /* line 12, ../sass/_table.scss */
  tr {
    border-top: 1px solid #f2f2f2;
    border-bottom: 1px solid #f2f2f2;
    margin: 2px 0;
  }

  /* line 14, ../sass/_table.scss */
  td {
    border: none;
    border-bottom: 1px solid none;
    position: relative;
    padding-left: 50%;
  }

  /* line 16, ../sass/_table.scss */
  td:before {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }

  /* line 18, ../sass/_table.scss */
  td:nth-of-type(1):before {
    content: "Top 5 sales staff (SEK)";
    background-color: #4991c7;
    color: #fff;
  }

  /* line 19, ../sass/_table.scss */
  td:nth-of-type(2):before {
    content: "Today";
    background-color: #4991c7;
    color: #fff;
  }

  /* line 20, ../sass/_table.scss */
  td:nth-of-type(3):before {
    content: "This week";
    background-color: #4991c7;
    color: #fff;
  }

  /* line 21, ../sass/_table.scss */
  td:nth-of-type(4):before {
    content: "This month";
    background-color: #4991c7;
    color: #fff;
  }

  /* line 22, ../sass/_table.scss */
  td:nth-of-type(5):before {
    content: "This week";
    background-color: #4991c7;
    color: #fff;
  }

  /* line 23, ../sass/_table.scss */
  td:nth-of-type(6):before {
    content: "This month";
    background-color: #4991c7;
    color: #fff;
  }
}
